{% extends "base.html.twig" %}
{% block body %}
	<style>
		.center {
			margin: auto;
			width: 60%;
			border: 8px solid #FFF;
			padding: 10px;
		}
	</style>
	<div class="center">
		{{form_start(form, {'action': path('add_jockey'), 'method': 'POST'})}}
		{{ form(form)}}
			{{form_end(form)}}
		</div>

	{% endblock %}
