{% extends "base.html.twig" %}
{% block body %}
<form methode="POST">
			<div class="row">
				<div class="col-md-1">
					<div class="form-group">
						<div class="form-group">
							<label for="numero">Numero</label>
							<input type="text" name="numero" class="form-control" id="numero" placeholder="Numero"/>
						</div>
					</div>
				</div>
				</div>
				</form> 	
	{% endblock %}
