<form action="{{ path('delete_horse')}}" methode="POST">
<button type="button" class="btn btn-outline-light" data-dismiss="modal">Nom</button>
              <button type="submit" name="btn_horse_del_confirm" value="{{ id }}" class="btn btn-outline-light">Oui</button>
</form>
