<form action="{{ path(path)}}" methode="POST">
<button type="button" class="btn btn-outline-light" data-dismiss="modal">Nom</button>
              <button type="submit" name="{{ name }}" value="{{ id }}" class="btn btn-outline-light">Oui</button>
</form>
