<form action="{{ path('delete_proprietaire')}}" methode="POST">
<button type="button" class="btn btn-outline-light" data-dismiss="modal">Nom</button>
              <button type="submit" name="btn_delete_proprietaire" value="{{ id }}" class="btn btn-outline-light">Oui</button>
</form>
